#cube-loader {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 199;
  background-color: #E2E2E2;
}

#cube-loader .caption {
  margin: 0 auto;
}

#cube-loader .cube-loader {
  width: 73px;
  height: 73px;
  margin: 0 auto;
  margin-top: 49px;
  position: relative;
  -webkit-transform: rotateZ(45deg);
          transform: rotateZ(45deg);
}

#cube-loader .cube-loader .cube {
  position: relative;
  -webkit-transform: rotateZ(45deg);
          transform: rotateZ(45deg);
  width: 50%;
  height: 50%;
  float: left;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

#cube-loader .cube-loader .cube:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #1a2e3f;
  -webkit-animation: cube-loader 2.76s infinite linear both;
          animation: cube-loader 2.76s infinite linear both;
  -webkit-transform-origin: 100% 100%;
          transform-origin: 100% 100%;
}

#cube-loader .cube-loader .loader-2 {
  -webkit-transform: scale(1.1) rotateZ(90deg);
          transform: scale(1.1) rotateZ(90deg);
}

#cube-loader .cube-loader .loader-3 {
  -webkit-transform: scale(1.1) rotateZ(180deg);
          transform: scale(1.1) rotateZ(180deg);
}

#cube-loader .cube-loader .loader-4 {
  -webkit-transform: scale(1.1) rotateZ(270deg);
          transform: scale(1.1) rotateZ(270deg);
}

#cube-loader .cube-loader .loader-2:before {
  -webkit-animation-delay: 0.35s;
          animation-delay: 0.35s;
}

#cube-loader .cube-loader .loader-3:before {
  -webkit-animation-delay: 0.69s;
          animation-delay: 0.69s;
}

#cube-loader .cube-loader .loader-4:before {
  -webkit-animation-delay: 1.04s;
          animation-delay: 1.04s;
}

.done {
  -webkit-animation: fadeOut 0.5s;
          animation: fadeOut 0.5s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.title {
  font-size: 29px;
  font-weight: 200;
}

div#top_but {
  position: fixed;
  display: none;
  width: 35px;
  height: 40px;
  background-color: #122331;
  bottom: 10%;
  right: 3%;
  z-index: 99;
  border-radius: 2px;
  -webkit-box-shadow: 0px 0px 1px 2px #152737;
          box-shadow: 0px 0px 1px 2px #152737;
}

div#top_but a {
  display: block;
  width: 100%;
  height: 100%;
  text-decoration: none;
  color: white;
  text-align: center;
  font-size: 25px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

div#top_but a:hover {
  background-color: #234764;
  -webkit-box-shadow: 0px 0px 1px 2px #234764;
          box-shadow: 0px 0px 1px 2px #234764;
  border-radius: 2px;
}

.cont-text {
  text-align: center;
  padding-bottom: 4%;
}

.cont-text p {
  font-size: 20px;
  font-weight: 300;
  margin-bottom: 0;
  color: #ff0000;
  text-transform: uppercase;
}

.cont-text h2 {
  font-weight: 400;
  text-transform: uppercase;
}

.sm {
  font-weight: 200;
  color: grey;
  font-weight: 400;
  font-size: 15px;
}

.bar {
  display: block;
  height: 30px;
  background-color: #db0404;
  border-radius: 30px;
  margin-bottom: 1rem;
}

.bar span {
  width: 50px;
  border-radius: 20px;
  display: block;
  height: 30px;
  background-color: white;
  font-size: 14px;
  text-align: center;
  padding-top: 4px;
  float: right;
  margin-right: 0.2%;
  color: grey;
}

header {
  background-color: rgba(10, 10, 10, 0.5);
}

header div.nav {
  background-color: rgba(0, 0, 0, 0.58);
  position: fixed;
  z-index: 28;
  width: 100%;
  -webkit-transition: 0.8s;
  transition: 0.8s;
}

header div.nav div.container div.row div.col-lg-12 nav {
  padding: 1px;
}

header div.nav div.container div.row div.col-lg-12 nav a.navbar-brand {
  color: white;
  font-size: 25px;
}

header div.nav div.container div.row div.col-lg-12 nav div.navbar-collapse {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

header div.nav div.container div.row div.col-lg-12 nav div.navbar-collapse ul {
  margin-right: 4%;
}

header div.nav div.container div.row div.col-lg-12 nav div.navbar-collapse ul li {
  padding: 10px;
}

header div.nav div.container div.row div.col-lg-12 nav div.navbar-collapse ul li a {
  color: white;
  font-size: 16px;
  text-transform: uppercase;
  -webkit-transition: 1.3s;
  transition: 1.3s;
  border: 1px solid transparent;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

header div.nav div.container div.row div.col-lg-12 nav div.navbar-collapse ul li a:hover {
  border: 1px solid white;
}

section#section-one {
  background-color: rgba(10, 10, 10, 0.5);
  height: 100vh;
}

section#section-one div.text {
  height: 200px;
  position: absolute;
  top: 38%;
  text-align: center;
}

section#section-one div.text .row {
  height: inherit;
}

section#section-one div.text .row div.col-lg-12 div.slide {
  color: white;
  font-family: 'Roboto Condensed', sans-serif;
}

section#section-one div.text .row div.col-lg-12 div.slide p.bol {
  display: inline-block;
  font-size: 35px;
  -webkit-animation: text 4s;
          animation: text 4s;
  letter-spacing: 2px;
}

section#section-one div.text .row div.col-lg-12 div.slide p.pico {
  font-size: 30px;
  -webkit-animation: text 6s;
          animation: text 6s;
  letter-spacing: 1px;
}

section#section-one div.text .row div.col-lg-12 div.slide h4 {
  font-size: 50px;
  -webkit-animation: text 2s;
          animation: text 2s;
  letter-spacing: 2px;
}

section#section-one div.text .row div.col-lg-12 a.atention {
  display: block;
  height: 70px;
  width: 70px;
  border: 2px solid white;
  border-radius: 100%;
  margin: auto;
  margin-top: 5%;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

section#section-one div.text .row div.col-lg-12 a.atention i {
  margin-top: 31%;
  font-size: 30px;
  color: white;
}

section#section-one div.text .row div.col-lg-12 a:hover i {
  color: #ff0505;
}

section#section-one div.text .row div.col-lg-12 .heartbeat {
  -webkit-animation: heartbeat 1.5s ease-in-out infinite both;
  animation: heartbeat 1.5s ease-in-out infinite both;
}

section#section-two {
  padding-top: 4.5%;
  padding-bottom: 4.5%;
}

section#section-two div.container-fluid div.row div.text {
  padding-left: 5%;
}

section#section-two div.container-fluid div.row div.text div.content {
  padding-top: 13%;
  padding-left: 3%;
  padding-right: 1%;
}

section#section-two div.container-fluid div.row div.text div.content h3 {
  color: #b10909;
  font-size: 20px;
  font-weight: 700;
}

section#section-two div.container-fluid div.row div.text div.content p {
  color: #000;
  font-size: 16px;
}

section#section-two div.container-fluid div.row div.text div.content a {
  background-color: #c40505;
  display: inline-block;
  text-decoration: none;
  color: white;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  padding: 1% 10% 1% 10%;
  margin-top: 5%;
  font-size: 15px;
  letter-spacing: 1px;
}

section#section-two div.container-fluid div.row div.text div.content a:hover {
  background-color: rgba(179, 175, 175, 0.788);
  background-position: center;
  color: #ff0000;
}

section#section-two div.container-fluid div.row div.col-lg-6 div.img {
  padding-right: 1%;
}

section#section-two div.container-fluid div.row div.col-lg-6 div.img img {
  height: auto;
  width: 100%;
}

#section-three {
  padding-top: 6.5%;
  padding-bottom: 4.5%;
  height: auto;
  background-color: rgba(218, 218, 218, 0.788);
}

#section-three div.container div.row div.col-lg-4 div.services {
  padding: 10%;
  text-align: center;
  background-color: white;
}

#section-three div.container div.row div.col-lg-4 div.services i {
  font-size: 40px;
  color: #A8A8A8;
  padding-bottom: 5%;
  padding-top: 5%;
}

#section-three div.container div.row div.col-lg-4 div.services span {
  width: 15%;
  height: 2px;
  display: block;
  background-color: #ff0000;
  margin: auto;
}

#section-three div.container div.row div.col-lg-4 div.services h4 {
  font-size: 16px;
  font-weight: 300;
  color: #000;
}

#section-three div.container div.row div.col-lg-4 div.services p.red {
  font-size: 14px;
  text-transform: uppercase;
  color: #ff0000;
  padding-top: 5%;
}

section#section-four {
  padding-top: 3.5%;
  padding-bottom: 4.5%;
  height: auto;
}

section#section-four div.container div.row div.col-lg-4 div.images {
  text-align: center;
}

section#section-four div.container div.row div.col-lg-4 div.images div.img {
  width: 100%;
  height: 350px;
}

section#section-four div.container div.row div.col-lg-4 div.images div.img img {
  width: inherit;
  height: inherit;
}

section#section-four div.container div.row div.col-lg-4 div.images div.content {
  padding: 10%;
}

section#section-four div.container div.row div.col-lg-4 div.images div.content h4 {
  font-size: 19px;
  font-weight: 200;
  color: red;
}

section#section-four div.container div.row div.col-lg-4 div.images div.content div.icon-social a {
  text-decoration: none;
  color: #000;
  font-size: 19px;
  padding: 4%;
}

section#section-five {
  padding-top: 2.5%;
  padding-bottom: 4.5%;
  height: auto;
}

section#section-five div.container div.row div.col-lg-5 div.skills {
  padding-right: 23%;
}

section#section-five div.container div.row div.col-lg-5 div.skills h3 {
  font-size: 33px;
}

section#section-five div.container div.row div.col-lg-5 div.skills a {
  background-color: #c40505;
  display: inline-block;
  text-decoration: none;
  color: white;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  padding: 1% 10% 1% 10%;
  border-radius: 3px;
  margin-top: 5%;
}

section#section-five div.container div.row div.col-lg-5 div.skills a:hover {
  background-color: rgba(179, 175, 175, 0.788);
  background-position: center;
  color: #ff0000;
}

section#section-five div.container div.row div.col-lg-5 div.skills p {
  font-size: 14px;
}

section#section-five div.container div.row div.col-lg-7 div.bloc-statistic p {
  font-size: 15px;
  text-transform: uppercase;
  color: grey;
  font-weight: 400;
  margin-left: 2%;
}

section#section-six {
  background-color: rgba(0, 0, 0, 0.801);
}

section#section-six div.container div.row div.col-lg-4 div.content {
  text-align: center;
  color: white;
}

section#section-six div.container div.row div.col-lg-4 div.content i {
  font-size: 40px;
  color: #e60b0b;
  padding-bottom: 4%;
  padding-top: 8%;
}

section#section-six div.container div.row div.col-lg-4 div.content span {
  width: 15%;
  height: 2px;
  display: block;
  background-color: #ff0000;
  margin: auto;
}

section#section-six div.container div.row div.col-lg-4 div.content h4 {
  font-weight: 200;
  padding-top: 4%;
  margin: 0;
}

section#section-six div.container div.row div.col-lg-4 div.content p {
  margin-bottom: 2rem;
}

section#section-seven {
  padding-top: 6.5%;
  padding-bottom: 2.5%;
  height: auto;
}

section#section-seven div.container div.row div.col-lg-4 .swiper-container,
section#section-seven div.container div.row div.col-lg-8 .swiper-container {
  width: 100%;
  height: 350px;
  border-radius: 10px;
}

section#section-seven div.container div.row div.col-lg-4 .swiper-container .images-large,
section#section-seven div.container div.row div.col-lg-8 .swiper-container .images-large {
  display: block;
  width: 30px;
  height: 30px;
  background-color: #ff0000;
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 2;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-align: center;
}

section#section-seven div.container div.row div.col-lg-4 .swiper-container .images-large i,
section#section-seven div.container div.row div.col-lg-8 .swiper-container .images-large i {
  color: white;
  line-height: 30px;
}

section#section-seven div.container div.row div.col-lg-4 .swiper-container .swiper-wrapper .swiper-slide,
section#section-seven div.container div.row div.col-lg-8 .swiper-container .swiper-wrapper .swiper-slide {
  width: inherit;
  height: inherit;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

section#section-seven div.container div.row div.col-lg-4 .swiper-container .swiper-wrapper .images-afte,
section#section-seven div.container div.row div.col-lg-8 .swiper-container .swiper-wrapper .images-afte {
  width: inherit;
  height: inherit;
}

section#section-seven div.container div.row div.col-lg-4 .swiper-container .swiper-wrapper .images-afte div.bef-hov,
section#section-seven div.container div.row div.col-lg-8 .swiper-container .swiper-wrapper .images-afte div.bef-hov {
  width: inherit;
  height: inherit;
  position: absolute;
  display: none;
  background-color: rgba(255, 255, 255, 0.164);
}

section#section-seven div.container div.row div.col-lg-4 .swiper-container .swiper-wrapper .images-afte:hover .bef-hov,
section#section-seven div.container div.row div.col-lg-8 .swiper-container .swiper-wrapper .images-afte:hover .bef-hov {
  display: block;
  cursor: pointer;
}

section#section-seven div.container div.row div.col-lg-4 .swiper-container .swiper-button-prev,
section#section-seven div.container div.row div.col-lg-4 .swiper-container .swiper-button-next,
section#section-seven div.container div.row div.col-lg-8 .swiper-container .swiper-button-prev,
section#section-seven div.container div.row div.col-lg-8 .swiper-container .swiper-button-next {
  color: #ff1111;
  width: 20px;
  height: 20px;
  border: 1px solid #ff0000;
  border-radius: 100%;
  outline: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  z-index: 12;
}

section#section-seven div.container div.row div.col-lg-4 .swiper-container .swiper-button-prev,
section#section-seven div.container div.row div.col-lg-8 .swiper-container .swiper-button-prev {
  top: 16px;
  left: 47%;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

section#section-seven div.container div.row div.col-lg-4 .swiper-container .swiper-button-next,
section#section-seven div.container div.row div.col-lg-8 .swiper-container .swiper-button-next {
  left: 47%;
  top: 93%;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

section#section-seven div.container div.row div.col-lg-4 .content,
section#section-seven div.container div.row div.col-lg-8 .content {
  padding-top: 4%;
}

section#section-seven div.container div.row div.col-lg-4 .content p.big-text,
section#section-seven div.container div.row div.col-lg-8 .content p.big-text {
  font-size: 23px;
}

section#section-seven div.container div.row div.col-lg-4 .content h4,
section#section-seven div.container div.row div.col-lg-8 .content h4 {
  color: #b10909;
  font-size: 25px;
  font-weight: 200;
  margin: 0;
}

section#section-seven div.container div.row div.col-lg-4 .content p,
section#section-seven div.container div.row div.col-lg-8 .content p {
  font-size: 15px;
  color: grey;
  font-weight: 200;
}

section#section-seven div.container div.row div.col-lg-4 .content-big,
section#section-seven div.container div.row div.col-lg-8 .content-big {
  padding-top: 3%;
  padding-right: 56%;
}

.modal {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.788);
  z-index: 199;
}

.modal .item-img {
  margin: auto;
  height: 500px;
  width: 60%;
  display: block;
  background-size: cover;
  background-position: center;
  border-radius: 10px;
}

.owlImage {
  position: relative;
  margin: auto;
  padding: 0;
  top: 85px;
  width: 70%;
}

.closeS {
  color: white;
  position: absolute;
  top: 10px;
  right: 25px;
  font-size: 35px;
  cursor: pointer;
}

.owl-prev,
.owl-next {
  position: absolute;
  height: 100%;
  top: 0;
}

.owl-prev span,
.owl-next span {
  font-size: 100px;
  color: white;
  font-weight: 400;
  outline: none;
  padding: 20px;
}

.owl-prev {
  left: -10%;
}

.owl-next {
  right: -10%;
}

section#section-eight {
  padding-top: 1.5%;
  padding-bottom: 4.5%;
  height: auto;
  background-color: rgba(218, 218, 218, 0.788);
}

section#section-eight div.container div.row div.col-lg-12 {
  padding-top: 3%;
  padding-bottom: 6%;
}

section#section-eight div.container div.row div.col-lg-6 {
  padding-top: 1%;
}

section#section-eight div.container div.row div.col-lg-6 div.fli {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 181px;
  width: 100%;
}

section#section-eight div.container div.row div.col-lg-6 div.fli .smalImg {
  padding-top: 1%;
  height: auto;
  width: 25%;
  display: block;
}

section#section-eight div.container div.row div.col-lg-6 div.fli .smalImg img {
  width: 100%;
  height: 130px;
}

section#section-eight div.container div.row div.col-lg-6 div.content-client {
  padding-left: 8%;
  max-width: 70%;
}

section#section-eight div.container div.row div.col-lg-6 div.content-client h4 {
  font-size: 15px;
  font-weight: 600;
  margin: 0;
}

section#section-eight div.container div.row div.col-lg-6 div.content-client p.small-1 {
  font-size: 13px;
}

section#section-eight div.container div.row div.col-lg-6 div.content-client span {
  display: block;
  width: 50px;
  height: 2px;
  background-color: rgba(128, 128, 128, 0.596);
}

section#section-eight div.container div.row div.col-lg-6 div.content-client p:not(.small-1) {
  font-size: 14px;
  padding-right: 10%;
  margin-top: 3%;
}

section#section-nine {
  padding-top: 1.5%;
  padding-bottom: 5.5%;
  height: auto;
}

section#section-nine div.container div.row div.col-lg-12 {
  padding-top: 3%;
  padding-bottom: 5%;
}

section#section-nine div.container div.row div.col-lg-5 div.content-contact {
  padding-top: 20%;
  font-size: 25px;
  padding-right: 15%;
  letter-spacing: 1.2px;
}

section#section-nine div.container div.row div.col-lg-7 {
  padding-left: 13%;
  width: 95%;
}

section#section-nine div.container div.row div.col-lg-7 label {
  font-size: 14px;
  font-weight: 200;
  margin-bottom: .3rem;
  color: #2c2c2c;
}

section#section-nine div.container div.row div.col-lg-7 input {
  width: 95%;
  height: 40px;
  border: 1.2px solid #3c3d3f;
  border-radius: 2px;
  margin-bottom: 3.5%;
  padding-left: 2%;
  font-size: 14px;
  font-weight: 300;
  outline: none;
}

section#section-nine div.container div.row div.col-lg-7 textarea {
  width: 95%;
  height: 70px;
  border: 1.2px solid  #3c3d3f;
  border-radius: 2px;
  resize: none;
  padding-left: 2%;
  font-size: 14px;
  font-weight: 300;
  outline: none;
}

section#section-nine div.container div.row div.col-lg-7 button {
  margin-top: 5%;
  height: 40px;
  width: 40%;
  outline: none;
  border-radius: 5px;
  background-color: #3c3d3f;
  border: none;
  font-size: 16px;
  font-family: inherit;
  color: white;
  letter-spacing: 1px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  z-index: -2;
}

section#section-nine div.container div.row div.col-lg-7 button:hover {
  background-color: #1f1e1e;
}

section#section-nine div.container div.row div.col-lg-7 span {
  margin-left: 3%;
  text-transform: uppercase;
  font-size: 13px;
  font-weight: 500;
  color: #a00404;
  border-bottom: 1px solid red;
  display: none;
}

section#section-nine div.container div.row div.col-lg-7 span.valid {
  display: inline-block;
  height: 40px;
  width: 40%;
  background-color: transparent;
  border-radius: 5px;
  margin-left: -41%;
  margin-bottom: -14px;
  cursor: pointer;
}

section#section-nine div.container div.row div.col-lg-7 div.messages {
  display: block;
  width: 300px;
  height: 130px;
  position: fixed;
  top: 40%;
  left: 40%;
  z-index: 99;
  background-color: #152737;
  -webkit-box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.4);
          box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.4);
}

section#section-nine div.container div.row div.col-lg-7 div.messages span.mes {
  display: block;
  width: 60px;
  height: 60px;
  border-radius: 100%;
  margin: auto;
  margin-top: 3%;
  border: 1px solid #6e966e;
  text-align: center;
}

section#section-nine div.container div.row div.col-lg-7 div.messages span.mes i {
  margin-top: 30%;
  font-size: 23px;
  color: #6e966e;
}

section#section-nine div.container div.row div.col-lg-7 div.messages p.text {
  color: rgba(110, 150, 110, 0.801);
  text-align: center;
  margin-top: 4%;
}

section#section-ten {
  height: auto;
}

section#section-ten div.container-fluid {
  width: 100%;
}

section#section-ten div.container-fluid div.row div.col-lg-12 {
  padding: 0;
}

footer {
  background-color: #152737;
  margin-top: -5px;
}

footer div.container-fluid div.row div.col-lg-12 p {
  padding-top: 2%;
  font-size: 14px;
  margin: 0;
  letter-spacing: 1.2px;
  color: white;
  text-align: center;
}

footer div.container-fluid div.row div.col-lg-12 span {
  display: block;
  margin-top: 0.2%;
  font-size: 11px;
  color: white;
  text-align: center;
  padding-bottom: 1%;
  letter-spacing: 4px;
}

@-webkit-keyframes text {
  0% {
    margin-left: -2em;
    z-index: -2;
    opacity: 0;
  }
  20% {
    margin-left: -1.5em;
    z-index: -2;
    opacity: 0;
  }
  50% {
    margin-left: -1em;
    z-index: -2;
    opacity: 0;
  }
  75% {
    z-index: 2;
    opacity: 0.8;
  }
  100% {
    z-index: 2;
    opacity: 1;
  }
}

@keyframes text {
  0% {
    margin-left: -2em;
    z-index: -2;
    opacity: 0;
  }
  20% {
    margin-left: -1.5em;
    z-index: -2;
    opacity: 0;
  }
  50% {
    margin-left: -1em;
    z-index: -2;
    opacity: 0;
  }
  75% {
    z-index: 2;
    opacity: 0.8;
  }
  100% {
    z-index: 2;
    opacity: 1;
  }
}

@-webkit-keyframes cube-loader {
  0%, 10% {
    -webkit-transform: perspective(136px) rotateX(-180deg);
            transform: perspective(136px) rotateX(-180deg);
    opacity: 0;
  }
  25%, 75% {
    -webkit-transform: perspective(136px) rotateX(0deg);
            transform: perspective(136px) rotateX(0deg);
    opacity: 1;
  }
  90%, 100% {
    -webkit-transform: perspective(136px) rotateY(180deg);
            transform: perspective(136px) rotateY(180deg);
    opacity: 0;
  }
}

@keyframes cube-loader {
  0%, 10% {
    -webkit-transform: perspective(136px) rotateX(-180deg);
            transform: perspective(136px) rotateX(-180deg);
    opacity: 0;
  }
  25%, 75% {
    -webkit-transform: perspective(136px) rotateX(0deg);
            transform: perspective(136px) rotateX(0deg);
    opacity: 1;
  }
  90%, 100% {
    -webkit-transform: perspective(136px) rotateY(180deg);
            transform: perspective(136px) rotateY(180deg);
    opacity: 0;
  }
}

@-webkit-keyframes heartbeat {
  from {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: center center;
    transform-origin: center center;
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  10% {
    -webkit-transform: scale(0.91);
    transform: scale(0.91);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  17% {
    -webkit-transform: scale(0.98);
    transform: scale(0.98);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  33% {
    -webkit-transform: scale(0.87);
    transform: scale(0.87);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  45% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
}

@keyframes heartbeat {
  from {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: center center;
    transform-origin: center center;
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  10% {
    -webkit-transform: scale(0.91);
    transform: scale(0.91);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  17% {
    -webkit-transform: scale(0.98);
    transform: scale(0.98);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  33% {
    -webkit-transform: scale(0.87);
    transform: scale(0.87);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  45% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
}

@-webkit-keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media (max-width: 991px) {
  section#section-nine div.container div.row div.col-lg-7 div.messages {
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
  }
  nav button.navbar-toggler {
    outline: none;
  }
  nav button.navbar-toggler i {
    color: white;
  }
  div.nav {
    background-color: rgba(0, 0, 0, 0.774);
  }
  div.nav div.container div.row div.col-lg-12 nav div.navbar-collapse ul li.nav-item {
    padding-top: 10px;
    padding-bottom: 15px;
  }
  div.nav div.container div.row div.col-lg-12 nav div.navbar-collapse ul li.nav-item a {
    border: 1px solid transparent;
  }
  .item {
    position: relative;
    border-top: 3px solid white;
    border-left: 3px solid white;
    border-right: 3px solid white;
  }
  .item:after {
    position: absolute;
    content: "";
    width: 0;
    height: 3px;
    bottom: 0;
    left: 0;
    right: 0;
    background: white;
    -webkit-transition: all 1s;
    transition: all 1s;
  }
  .item:hover:after {
    width: 100%;
  }
  section#section-one div.col-lg-6 {
    padding-left: 8%;
    padding-right: 8%;
    margin-bottom: 3%;
  }
  section#section-one div.col-lg-6 div.container-fluid div.row div.text {
    padding-left: 8%;
    padding-right: 8%;
  }
  section#section-one div.col-lg-6 div.container-fluid div.row div.text div.content {
    padding-top: 2%;
  }
  section#section-one div.container-fluid div.row div.text {
    padding-left: 8%;
    padding-right: 8%;
  }
  #section-three div.container div.row div.col-lg-4 div.services {
    padding-top: 5%;
    padding-right: 12%;
    padding-bottom: 7%;
    padding-left: 12%;
    margin-bottom: 5%;
  }
  section#section-four div.container div.row div.col-lg-4 {
    padding-bottom: 3%;
  }
  section#section-four div.container div.row div.col-lg-4 div.images div.content {
    padding: 4%;
  }
  section#section-five div.container div.row div.col-lg-5 {
    padding-bottom: 8.5%;
  }
  section#section-five div.container div.row div.col-lg-5 div.skills {
    padding-right: 0%;
    text-align: center;
  }
  section#section-five {
    padding-bottom: 7.5%;
  }
  header div.text {
    top: 33%;
  }
  section#section-seven div.container div.row div.col-lg-4 .content-big,
  section#section-seven div.container div.row div.col-lg-8 .content-big {
    padding-top: 5%;
    padding-right: 2%;
  }
  section#section-seven div.container div.row div.col-lg-4 .swiper-container {
    margin-bottom: 2%;
  }
  section#section-seven div.container div.row div.col-lg-4 .content {
    padding-top: 2%;
    padding-bottom: 4%;
  }
  .owl-theme .owl-nav [class*=owl-] {
    background-color: transparent;
    height: 50%;
    top: 20%;
  }
  .owl-theme .owl-nav [class*=owl-] span {
    padding-top: 0;
    padding-bottom: 0;
  }
  .owl-theme .owl-nav [class*=owl-]:hover {
    background-color: transparent;
  }
  .owl-prev span,
  .owl-next span {
    font-size: 68px;
    padding: 3px;
  }
  .owlImage {
    top: 24%;
  }
  .modal .item-img {
    border-radius: 0px;
  }
  .closeS {
    top: 50px;
    font-size: 45px;
  }
  .owl-prev span,
  .owl-next span {
    font-size: 68px;
    padding: 3px;
  }
  section#section-eight {
    padding-top: 5%;
  }
  section#section-eight div.container div.row div.col-lg-6 div.fli {
    padding-top: 0;
    padding-bottom: 0;
    height: 174px;
  }
  section#section-eight div.container div.row div.col-lg-6 div.content-client {
    padding-left: 2%;
    margin-left: 6%;
    max-width: 57%;
  }
  section#section-eight div.container div.row div.col-lg-6 div.fli .smalImg {
    width: 123px;
  }
  section#section-eight div.container div.row div.col-lg-6 div.fli .smalImg img {
    height: 120px;
  }
  section#section-eight div.container div.row div.col-lg-6 div.content-client p:not(.small-1) {
    padding-right: 0;
    margin-top: 0;
  }
  section#section-eight div.container div.row div.col-lg-12 h2 {
    font-size: 27px;
  }
  section#section-nine div.container div.row div.col-lg-5 div.content-contact {
    padding-top: 0;
  }
  section#section-nine div.container div.row div.col-lg-7 form {
    padding-left: 0;
    width: 100%;
    padding-top: 5%;
    padding-bottom: 5%;
  }
  section#section-nine div.container div.row div.col-lg-7 form input {
    width: 100%;
  }
  section#section-nine div.container div.row div.col-lg-7 form textarea {
    width: 100%;
  }
  header div.nav div.container div.row div.col-lg-12 nav a.navbar-brand {
    padding: 2%;
  }
  section#section-two div.container-fluid div.row div.text div.content {
    padding-bottom: 5%;
  }
  section#section-two div.container-fluid div.row div.text div.content a {
    width: 50%;
  }
  section#section-two div.container-fluid div.row div.text div.content h2 {
    font-size: 26px;
    padding-bottom: 3%;
  }
  section#section-one div.text .row div.col-lg-12 div.slide h4 {
    font-size: 46px;
  }
  section#section-one div.text .row div.col-lg-12 div.slide p.bol {
    font-size: 30px;
  }
  section#section-one div.text .row div.col-lg-12 div.slide p.pico {
    font-size: 25px;
  }
  section#section-one div.text .row div.col-lg-12 a.atention {
    display: inline-block;
    margin-top: 0;
    margin-left: -1%;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  section#section-four div.container div.row div.col-lg-4 div.images div.img img {
    width: 70%;
    height: inherit;
  }
  section#section-five {
    padding-top: 3%;
  }
  section#section-five div.container div.row div.col-lg-5 {
    max-width: 50%;
    padding-bottom: 0;
  }
  section#section-five div.container div.row div.col-lg-5 div.skills {
    padding-right: 0%;
    text-align: left;
  }
  section#section-five div.container div.row .col-lg-7 {
    max-width: 50%;
  }
  section#section-five {
    padding-bottom: 7.5%;
  }
  .modal .item-img {
    border-radius: 0px;
    height: 700px;
    width: 100%;
  }
  .owlImage {
    top: 19%;
  }
  .closeS {
    top: 80px;
    font-size: 55px;
    right: 10%;
  }
  .owl-prev span,
  .owl-next span {
    font-size: 120px;
    padding: 3px;
  }
  .owl-theme .owl-nav button.owl-next {
    right: -85px;
  }
  .owl-theme .owl-nav button.owl-prev {
    left: -85px;
  }
}

@media (max-width: 767px) {
  .modal .item-img {
    border-radius: 0px;
    height: 390px;
    width: 100%;
  }
  .owl-theme .owl-nav button.owl-next {
    right: -50px;
  }
  .owl-theme .owl-nav button.owl-prev {
    left: -50px;
  }
  section#section-nine div.container div.row div.col-lg-5 div.content-contact {
    padding-top: 2%;
    font-size: 25px;
    letter-spacing: 1.2px;
    padding-right: 0;
  }
  section#section-nine div.container div.row div.col-lg-5 div.content-contact p {
    font-size: 20px;
  }
  section#section-nine div.container div.row div.col-lg-12 h2 {
    font-size: 27px;
  }
}

@media (min-width: 1600px) {
  section#section-one {
    width: 100%;
    height: 100vh;
  }
  section#section-one div.text .row div.col-lg-12 div.slide h4 {
    font-size: 67px;
    letter-spacing: 6px;
  }
  section#section-one div.text .row div.col-lg-12 div.slide p.pico {
    font-size: 40px;
    letter-spacing: 7px;
  }
  section#section-one div.text .row div.col-lg-12 div.slide p.bol {
    font-size: 50px;
    letter-spacing: 5px;
  }
  section#section-one div.text .row div.col-lg-12 a.atention {
    margin-top: 8%;
  }
  .owlImage {
    top: 20%;
  }
  .closeS {
    top: 5%;
    right: 14%;
    font-size: 48px;
    -webkit-transition: 0.2s;
    transition: 0.2s;
  }
  .closeS:hover {
    color: #c40505;
  }
  footer div.container-fluid div.row div.col-lg-12 p {
    padding-top: 1%;
  }
}
/*# sourceMappingURL=style.css.map */